PORT=3000

MONGO_URI=MongoDB connection string
MONGO_USER=MongoDB user
MONGO_PASSWORD=MongoDB password
MONGO_DATABASE=cidades-e-pessoas

JWT_MIDDLEWARE_JWKSURI=jwt middleware jwksUri
JWT_MIDDLEWARE_AUDIENCE=jwt middleware audience
JWT_MIDDLEWARE_ISSUER=jwt middleware issuer